* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: lightgrey;
  font-family: 'Roboto', sans-serif;
}



/* Classi riutilizzabili */

.container {
  width: 80%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/* / classi riutilizzabili */

/* Inizio intestazione */
header {
  height: 550px;
  background-color: rgb(21, 18, 89);
  background-image: url('../img/background-header.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% 110%;
}


/* Inizio nav */
.header-nav {
  height: 90px;
  line-height: 90px;
}

.header-logo {
  height: 100%;
  margin-right: 40px;
  margin-top: 10px;
}

.header-nav li a {
  font-size: 10px;
  padding: 0 10px;
}

.header-nav-left {
  height: 100%;
  width: 50%;
}

.header-nav-right {
  height: 100%;
  width: 30%;
}

#login {
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px 10px;
}


.btn-green {
  background-color: rgb(27, 213, 11);
  border-radius: 5px;
  padding: 15px;
}
/* / nav */

/* Inizio Jumbotron */
.jumbotron {
  height: 470px;
  position: relative;

}

.jumbotron-titolo {
  width: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.jumbotron-titolo h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 20px;
}
/* / jumbotron */
/* / intestazione */

/* Inizio main */
main {
  height: 1000px;
  background-color: red;
}

/* Inizio section one */
.sottotitolo {
  height: 20%;
  background-color: lightgrey;
  position: relative;
}

.testo {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sottotitolo h2,p {
  text-align: center;
}

.sottotitolo h2 {
  margin-bottom: 10px;
}
/* / section one */

/* Inzio section two */
.corso{
  height: 50%;
  background-color: violet;
}

.piano-formativo, .tutor, .progressi {
  text-align: center;
}

 img {
  max-height: 100px;
  max-width: 100px;
}
