* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: lightgrey;

}



/* Classi riutilizzabili */

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

/* / classi riutilizzabili */

/* Inizio intestazione */
header {
  height: 550px;
  background-color: rgb(21, 18, 89);
  background-image: url('../img/background-header.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% 110%;
}

.container {
  width: 80%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
}

.header-nav {
  height: 90px;
  background-color: green;
}

.header-logo {
  height: 100%;
  width: 20%;
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
}

.header-nav-left {
  height: 100%;
  width: 50%;
  background-color: violet;
}

.header-nav-right {
  height: 100%;
  width: 30%;
  background-color: pink;
}
/* / intestazione */
